body {
    margin: 0px;
    background-color: #6bbddb;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

input {
    font-size: 18px;
}

.button {
    font-size: 18px;
}

#header {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-top: 25px;
}

#flag {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 50%;
}

#change_language_button {
    margin-left: 8px;
}

#main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#secondary_div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

#directory {
    display: block;
    visibility: hidden;
    font-size: 18px;
}

#select_directory_button {
    font-size: 18px;
}

#secondary_div2 {
    display: flex;
    flex-direction: row;
    visibility: hidden;
    width: 100%;
}

#rename_images_div {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #afd4e5;
    width: 45%;
    border-radius: 25px;
    margin: 32px;
}

#rename_images_div > div {
    margin: 16px;
}

#rename_images_header {
    text-align: center;
}

#rename_images_button_div {
    display: flex;
    justify-content: center;
}

#rename_images_button {
    position: absolute;
    bottom: 0;
    margin: 16px;
}

#rename_captures_div {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #b5d761;
    width: 55%;
    border-radius: 25px;
    margin: 32px;
}

#rename_captures_div > div {
    margin: 16px;
}

#rename_captures_header {
    text-align: center;
}

#rename_captures_button_div {
    display: flex;
    justify-content: center;
}

#rename_captures_button {
    position: absolute;
    bottom: 0;
    margin: 16px;
}

.error {
    color: red;
    margin-bottom: 0px;
    margin-top: 8px;
}

label {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 0px;
}
